.exampleContainer {
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

  .exampleText {
    color: #333;
    font-size: 18px;
  }
}
