$grey: grey;

.colorRed {
  color: red;
}

.backgroundRed {
  background-color: red;
}

.backgroundBlue {
  background-color: blue;
}

.backgroundGreen {
  background-color: green;
}

.backgroundYellow {
  background-color: yellow;
  span {
    text-align: center;
  }
}