.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.jca {
  justify-content: center;
  align-items: center;
}
