.w100 {
  width: 100%;
}

.w100vw {
  width: 100vw;
}

.h100 {
  height: 100%;
}

.h100vh {
  height: 100vw;
}

.vDivider {
  width: 5px;
}

.hDivider {
  height: 5px;
}

.vDivider10 {
  width: 10px;
}

.hDivider10 {
  height: 105px;
}

.vDivider15 {
  width: 51px;
}

.hDivider15 {
  height: 15px;
}